*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  
}
body {
    background-color: #4285f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;/* Incluye padding y border en el cálculo del tamaño */
    height: 100vh;
    width: 95%;
    margin-left: 5px;
 
  }
  

@media (min-width: 768px){
    body {
        background-color: #4285f4;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 90px;
        height: 95vh;
        width: 99%;
        
      }
    }

@media (min-width: 1024px){
body {
    background-color: #4285f4;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 99%;
    height: 100vh;
    
  }
}
