*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  
}
body {
    background-color: #4285f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;/* Incluye padding y border en el cálculo del tamaño */
    height: 100vh;
    width: 95%;
    margin-left: 5px;
    
  }
  .background-container {
    background-color: #4285f4;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 305px; /* Ocupa todo el ancho del body */
    height: 650px;
  }
  .loginbox {
    background-color: white;
    width: 280px;
    border-radius: 30px;
    height: 450px;
    box-shadow: 3px 3px #d9d9d9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .title-container {
    display: flex;
    justify-content: center;
    width: 250px;
    height: 80px;
  }
  .title {
    color: #4285f4;
    font-size: 50px;
    text-shadow: 3px 5px #d9d9d9;
    font-weight: bold;
    width: 300px;
    text-align: center;
    margin-top: 10px;
  }
  .input-container {
    display: flex;
    flex-direction: column;
    width: 280px;
    margin: 20px;
    align-items: center;
    height: 300px;
    padding: 20px;
  }
  .input {
    width: 250px;
    height: 45px;
    margin: 15px;
    border-radius: 5px;
    background-color: #d9d9d9;
    border: 1px solid #d9d9d9;
    padding: 10px;
  }
  input:hover {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  .login-button {
    height: 45px;
    margin: 10px;
    border-radius: 5px;
    background-color: #239f65;
    border: 1px solid #d9d9d9;
    padding: 10px;
    color: white;
    width: 200px;
    padding: 5px;
    box-shadow: 3px 3px #d9d9d9;
    cursor: pointer; /* Añade cursor pointer para indicar que es un botón */
    font-weight: bold;
  }
  .login-button:hover {
    background-color: #1e8449; /* Cambia el color al hacer hover */
    box-shadow: 4px 4px #c0c0c0; /* Cambia el box shadow al hacer hover */
    transform: translateY(-2px); /* Opcional: Levanta el botón ligeramente */
    transition: all 0.3s ease; /* Opcional: Transición suave para el efecto */
  }

/*MENU MOBILE */

  .background-container-menu {
    background-color: #4285f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 300px;
  }
  .menubox{
    background-color: white;
    width: 280px;
    margin: 25px;
    border-radius: 30px;
    height: 450px;
    box-shadow: 3px 3px #d9d9d9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .menu-container{
    display: flex;
    flex-direction: column;
    width: 270px;
    margin: 10px;
    align-items: center;
    height: 300px;
    padding: 20px;
    margin-top: 50px;
  }
  .menu-button{
    height: 60px;
    margin: 10px;
    border-radius: 5px;
    background-color: #4285f4;
    border: 3px solid #4285f4;
    padding: 10px;
    color: white;
    width: 250px;
    padding: 5px;
    box-shadow: 3px 3px #d9d9d9;
    cursor: pointer; /* Añade cursor pointer para indicar que es un botón */
    font-weight: bold;
  }
  .menu-button:hover {
    background-color: #3e45a5; /* Cambia el color al hacer hover */
    box-shadow: 4px 4px #c0c0c0; /* Cambia el box shadow al hacer hover */
    transform: translateY(-2px); /* Opcional: Levanta el botón ligeramente */
    transition: all 0.3s ease; /* Opcional: Transición suave para el efecto */
  }
  .title-menu {
    color: white;
    font-size: 50px;
    text-shadow: 3px 5px #645e5e9c;
    font-weight: bold;
    margin-top: 20px;
  }
  .logout-container{
    height: 50px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 50px;
  }
  .logout-button{
    height: 45px;
    margin: 10px;
    border-radius: 5px;
    background-color: rgb(187, 7, 7);
    border: 1px solid #d9d9d9;
    padding: 10px;
    color: white;
    width: 120px;
    padding: 5px;
    margin-bottom: 20px;
    box-shadow: 3px 3px #d9d9d9;
    cursor: pointer; /* Añade cursor pointer para indicar que es un botón */
    font-weight: bold;
  }
  .logout-button:hover {
    background-color: #700404; /* Cambia el color al hacer hover */
    box-shadow: 4px 4px #c0c0c0; /* Cambia el box shadow al hacer hover */
    transform: translateY(-2px); /* Opcional: Levanta el botón ligeramente */
    transition: all 0.3s ease; /* Opcional: Transición suave para el efecto */
  }

/* COTIZACIONES MOBILE*/

  .background-container-cotiza{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
 }
  .cotizabox{
    background-color: white;
    width: 280px;
    margin: 25px;
    border-radius: 30px;
    height: 450px;
    box-shadow: 3px 3px #d9d9d9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .title-coti{
    color: white;
    font-size: 50px;
    text-shadow: 3px 5px #645e5e9c;
    font-weight: bold;
    margin-top: 20px;
  }
  .cotizatitlebox{
    margin-bottom: 20px;
    width: 250px;  
    display: flex;
    justify-content: center;
    border-bottom: 5px solid rgb(190, 186, 186);
  }
  .cotizatitle{
    font-weight: bold; 
    color: grey;
  }
  .box-volver-cotiza{
    display: flex;
    justify-content: space-between;
    align-content: center;   
    margin-top: 60px;
    width: 250px;
  }
  .cotiza-container-button{
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cotiza-button{
    height: 60px;
    margin: 10px;
    border-radius: 5px;
    background-color: #4285f4;
    border: 3px solid #4285f4;
    padding: 10px;
    color: white;
    width: 250px;
    box-shadow: 3px 3px #d9d9d9;
    cursor: pointer; /* Añade cursor pointer para indicar que es un botón */
    font-weight: bold
  }
  .cotiza-button:hover {
    background-color: #3e45a5; /* Cambia el color al hacer hover */
    box-shadow: 4px 4px #c0c0c0; /* Cambia el box shadow al hacer hover */
    transform: translateY(-2px); /* Opcional: Levanta el botón ligeramente */
    transition: all 0.3s ease; /* Opcional: Transición suave para el efecto */
  }
  .volver-cotiza{
    color: #239f65;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 10px;
    text-decoration: none;
  }
  .volver-cotiza:hover{ 
    color: rgb(4, 88, 4);
    transform: translateY(-2px); /* Opcional: Levanta el botón ligeramente */
    transition: all 0.3s ease; 
  }

/* ERROR 404 MOBILE */

  .recuadroerror{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    width: 100%;
    height: 400px;
  }
  .errorfoto{
    width: 220px;
    height: 200px;
  }
  .recuadrofoto{
    padding: 100px;
    height: 300px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .recuadrobutton{
    width: 100px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    
  }
  .recuadrotexto{
    margin-top: 50px;
    width: 230px;
    
  }
  .textoerror{
    color: white;
    font-size: 14px;
    text-align: center;
    margin-right: 10px;
  }
  .volvererror{
    height: 30px;
    border-radius: 5px;
    background-color: rgb(75, 71, 71);
    color: rgb(199, 198, 198);
    width: 100px;
    cursor: pointer; /* Añade cursor pointer para indicar que es un botón */
    font-weight: bold;
  }
  .volvererror:hover{
    background-color: rgb(5, 5, 5);
    transform: translateY(-2px); /* Opcional: Levanta el botón ligeramente */
    transition: all 0.3s ease; 
  }

/* HOME MOBILE FIRST*/

  .headerhome{
    width: 39vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 15px; 
    
  }
  .headercontainer{
    display: flex;
    padding: 7px;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 60px;
    width: 39vh;
    position: absolute;
    border-radius: 5px 5px;
  }
  .titlehome{
    color: white;
    text-shadow: 2px 2px grey;
    display: none;
  }
  .containermenuimage{
    width: 40px;
    height: 40px;
    background: white;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menuimage{
    width: 45px;
    height: 45px;
  }
  .menuimage:hover{
    border-radius: 30px;
    border: solid black;
    cursor: pointer;
  }
  .inputhome{
    display: none;
  }
  .proveedor{
    color: white;
    margin-top: 10px;
    font-size: 18px;
    width: 160px;
  }
  .proveedor:hover{
    color: #4285f4;
    transform: translateY(-2px); /* Opcional: Levanta el botón ligeramente */
    transition: all 0.3s ease;
    cursor: pointer;
  }
  .carritocontainer{
    height: 40px;
    display: flex;
    align-items: center;
  }
  .carrito{
    color: white;
    margin-right: 10px;
    margin-top: 5px;
  }
  .carrito:hover{
    color: #4285f4;
    transform: translateY(-2px); /* Opcional: Levanta el botón ligeramente */
    transition: all 0.3s ease;
    cursor: pointer;
  }
  .optioncontainer{
    display: none;
  }
  .card{
    width: 39vh;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
    height: 500px;
    margin-top: 61px;
    background: #d9d9d9;
    overflow-y: scroll;
    overflow-x: hidden;
    
  }
  .inputcontainermobile{
    border: 3px solid rgb(0, 0, 0);
    height: 50px;
    width: 39vh;
    border-radius: 5px 5px 0px 0px;
    display: flex;
    justify-content: center;
    background: black;
    align-items: center;
    position: sticky;
    top: 0;
    
  }
  .inputhomemobile{
    border-radius: 10px;
    width: 35vh;
    
  }
  .inputhomemobile:hover {
    border-color: #4285f4;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  .cardtitlecont{
    width: 35vh;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    
  }
  .titlecard{
    color: #4285f4;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
  .cardcontainer{
    border: 3px solid rgb(196, 196, 199);
    height: 300px;
    width: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    background: white;
    padding: 10px;   
     
  }
  .cardcontainer:hover{
    border: 2px solid #4285f4;
} 
  .cardimage{
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 150px;
  }
  .stock{
    font-size: 10px;
    margin-top: 10px;
  }
  .cardstock{
    color: grey;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-content: flex-end;
    justify-content: flex-end;
    height: 60px;
  }
  .product{
    font-size: 12px;
    text-align: center;
  }
  .buttoncard{
    background: #4285f4;
    color: white;
    width: 100px;
    border-radius: 3px;
    border: #4285f4;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 30px;
    
  }
  .buttoncard:hover{
    background: rgb(55, 55, 168);
    cursor: pointer;
    transform: translateY(1px); /* Opcional: Levanta el botón ligeramente */
    transition: all 0.1s ease;
  }
  .containerbuttoncard{
    height: 70px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
  }
  .cardsforproduct{
    display: flex;
    border: 3px solid rgb(199, 196, 196);
    width: 35vh;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    height: 350px;
    align-items: center;
    border-radius: 10px;
    
  }
  .hub{
    width: 150px;
  }
  .discoe{
    width: 180px;
  }
  .notebook{
    width: 200px;
    height: 130px;
  }
  .impresora{
    width: 150px;
  }
.carddescription{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 560px;

}
.footerhome{
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vh;
}
.footercontainer{
    width: 35%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.footerback{
    background-color: #4285f4;
    color: white;
    width: 70px;
    font-size: 12px;
    border-radius: 15px;
    border: 2px solid #4285f4;
}
.footerback:hover{
    background: #3e45a5;
    transform: translateY(1px); /* Opcional: Levanta el botón ligeramente */
    transition: all 0.1s ease;
}
.footerfinalizar{
    background-color: #239f65;
    color: white;
    width: 70px;
    font-size: 12px;
    border-radius: 15px;
    border: 2px solid #239f65;
}
.footerfinalizar:hover{
    background: green;
    transform: translateY(1px); /* Opcional: Levanta el botón ligeramente */
    transition: all 0.1s ease;
}
.footerimagecontainer{
    width: 35%;
    display: flex;
    justify-content: space-evenly;
    
}
.imagefooter{
    width: 50px;
    height: 40px;
}
.imagefooter:hover{
    width: 82px;
    cursor: pointer;
}
/*----------------------------------------*/

@media (min-width: 768px){
    body {
        background-color: #4285f4;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 90px;
        height: 95vh;
        width: 99%;
        
      }
      .background-container {
        background-color: #4285f4;
        display: flex;
        justify-content: center;
        width: 100%;
      }
    .loginbox {
        background-color: white;
        width: 550px;
        margin: 25px;
        border-radius: 30px;
        height: 450px;
        box-shadow: 3px 3px #d9d9d9;
        flex-direction: column;
      }
      .title-container-login {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 500px;
        
      }
      .title {
        color: #4285f4;
        font-size: 85px;
        text-shadow: 3px 5px #d9d9d9;
        font-weight: bold;
        width: 500px;
      }
      .input-container {
        display: flex;
        flex-direction: column;
        width: 700px;
        margin: 10px;
        align-items: center;
        height: 300px;
        padding: 20px;
      }
      .input {
        width: 400px;
        height: 45px;
        margin: 10px;
        border-radius: 5px;
        background-color: #d9d9d9;
        border: 1px solid #d9d9d9;
        padding: 10px;
      }
      input:hover {
        border-color: #007bff;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
      }
      .login-button {
        height: 45px;
        margin: 10px;
        border-radius: 5px;
        background-color: #239f65;
        border: 1px solid #d9d9d9;
        padding: 10px;
        color: white;
        width: 200px;
        padding: 5px;
        margin-bottom: 10px;
        box-shadow: 3px 3px #d9d9d9;
        cursor: pointer; /* Añade cursor pointer para indicar que es un botón */
        font-weight: bold
      }
      .login-button:hover {
        background-color: #1e8449; /* Cambia el color al hacer hover */
        box-shadow: 4px 4px #c0c0c0; /* Cambia el box shadow al hacer hover */
        transform: translateY(-2px); /* Opcional: Levanta el botón ligeramente */
        transition: all 0.3s ease; /* Opcional: Transición suave para el efecto */
      }
      .loginregistro{
        font-size: 12px;
      }

      /*---MENU 768PX ----------------------------*/

      .background-container-menu {
        background-color: #4285f4;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90%;
      }
      .menubox{
        background-color: white;
        width: 100%;

        border-radius: 30px;
        height: 420px;
        box-shadow: 3px 3px #d9d9d9;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 50px;
        
      }
      .menu-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        height: 100%;
        padding: 20px;
        margin-top: 70px;
        
      }
      .menu-button{
        height: 60px;
        margin: 10px;
        border-radius: 5px;
        background-color: #4285f4;
        border: 3px solid #4285f4;
        padding: 10px;
        color: white;
        width: 400px;
        padding: 5px;
        box-shadow: 3px 3px #d9d9d9;
        cursor: pointer; /* Añade cursor pointer para indicar que es un botón */
        font-weight: bold;
      }
      .menu-button:hover {
        background-color: #3e45a5; /* Cambia el color al hacer hover */
        box-shadow: 4px 4px #c0c0c0; /* Cambia el box shadow al hacer hover */
        transform: translateY(-2px); /* Opcional: Levanta el botón ligeramente */
        transition: all 0.3s ease; /* Opcional: Transición suave para el efecto */
      }
      .title-menu {
        color: white;
        font-size: 70px;
        text-shadow: 3px 5px #645e5e9c;
        font-weight: bold;
        text-align: center;
        
      }

      .title-container{
        height: 60px;
        width: 80%;
        display: flex;
        margin-left: 100px;
        justify-content: left;
       
      }
      .logout-container{
        height: 50px;
        width: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        
      }
      .logout-button{
        height: 45px;
        margin: 10px;
        border-radius: 5px;
        background-color: rgb(187, 7, 7);
        border: 1px solid #d9d9d9;
        padding: 10px;
        color: white;
        width: 120px;
        padding: 5px;
        
        margin-top: 50px;   
        box-shadow: 3px 3px #d9d9d9;
        cursor: pointer; /* Añade cursor pointer para indicar que es un botón */
        font-weight: bold;
      }
      
      .logout-button:hover {
        background-color: #700404; /* Cambia el color al hacer hover */
        box-shadow: 4px 4px #c0c0c0; /* Cambia el box shadow al hacer hover */
        transform: translateY(-2px); /* Opcional: Levanta el botón ligeramente */
        transition: all 0.3s ease; /* Opcional: Transición suave para el efecto */
      
      }

    /*--------COTIZA 768PX----------------*/
    
      .background-container-cotiza{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
  
    }
      .cotizabox{
        background-color: white;
        width: 100%;
        margin: 25px;
        border-radius: 30px;
        height: 450px;
        box-shadow: 3px 3px #d9d9d9;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
      }
     .title-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 90px;
        width: 80%;
    }
      .title-coti{
        color: white;
        font-size: 70px;
        text-shadow: 3px 5px #645e5e9c;
        font-weight: bold;
        text-align: center;
        width: 100%;
        height: 80px;
        margin-top: 50px;
      }
     .cotizatitlebox{
        margin-bottom: 120px;
        width: 100%;  
        display: flex;
        justify-content: center;
        border-bottom: 5px solid rgb(190, 186, 186);
      }
      .cotizatitle{
        font-weight: bold; 
        color: grey;
      }
      .box-volver-cotiza{
        display: flex;
        justify-content: space-between;
        align-content: center;   
        margin-top: 60px;
        width: 100%;
      }
      .cotiza-container-button{
        width: 85%;
      }
      .cotiza-button{
        height: 60px;
        margin: 10px;
        border-radius: 5px;
        background-color: #4285f4;
        border: 3px solid #4285f4;
        padding: 10px;
        color: white;
        width: 400px;
        padding: 5px;
        box-shadow: 3px 3px #d9d9d9;
        cursor: pointer; /* Añade cursor pointer para indicar que es un botón */
        font-weight: bold;
      }
      .cotiza-button:hover {
        background-color: #3e45a5; /* Cambia el color al hacer hover */
        box-shadow: 4px 4px #c0c0c0; /* Cambia el box shadow al hacer hover */
        transform: translateY(-2px); /* Opcional: Levanta el botón ligeramente */
        transition: all 0.3s ease; /* Opcional: Transición suave para el efecto */
      }
      .volver-cotiza{
        color: #239f65;
        font-weight: bold;
        margin-left: 10px;
        text-decoration: none;
      }
      .volver-cotiza:hover{
        color: rgb(4, 88, 4);
        transform: translateY(-2px); /* Opcional: Levanta el botón ligeramente */
        transition: all 0.3s ease; 
      }
      .box-volver-cotiza{
        width: 80%;
      }

    /*-----------ERROR 404 768PX ----------------*/

      .recuadroerror{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        margin-top: 102px;
        width: 100%;
        height:100vh;
      }
      .errorfoto{
        width: 80%;
        height: 90%;
      }
      .recuadrofoto{
        
        height: 100%;
        width: 100%;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .recuadrobutton{
        width: 30%;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
      }
      .recuadrotexto{
        width: 70%;
      }
      .textoerror{
        color: white;
        font-size: 25px;
      }
      .volvererror{
        height: 45px;
        border-radius: 5px;
        background-color: rgb(75, 71, 71);
        padding: 10px;
        color: rgb(199, 198, 198);
        width: 120px;
        padding: 5px;
        cursor: pointer; /* Añade cursor pointer para indicar que es un botón */
        font-weight: bold;
      }
      .volvererror:hover{
        background-color: rgb(5, 5, 5);
        transform: translateY(-2px); /* Opcional: Levanta el botón ligeramente */
        transition: all 0.3s ease; 
      }
    
    /*----------HOME 768PX---------------------*/
      .headerhome{
        
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        position: relative;
        background-color: white;
        border-radius: 15px;
        margin-top: 30px;
      }
      .headercontainer{ /*CONTENEDOR DE TODO EL HEADER EN NEGRO*/
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-content: space-around;
        align-items: center;
        background-color: black;
        height: 70px;
        width: 100%;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
      }
      .inputcontainermobile{
        display: none;
      }
      .titlehome{
        color: white;
        text-shadow: 2px 2px grey;
        display: block;
      }
      .inputcontainer{
        width: 40%;
      }
      .inputhome{
        border-radius: 10px;
        width: 100%;
        height: 40px;
        display: block;
      }
      .inputhome:hover {
        border-color: #4285f4;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
      }
      .proveedor{
        color: white;
      }
      .proveedor:hover{
        color: #4285f4;
        transform: translateY(-2px); /* Opcional: Levanta el botón ligeramente */
        transition: all 0.3s ease;
        cursor: pointer;
      }
      .menuimage{
        display: none;
      }
      .containermenuimage{
        display: none;
      }
      .carrito{
        color: white;
      }
      .carrito:hover{
        color: #4285f4;
        transform: translateY(-2px); /* Opcional: Levanta el botón ligeramente */
        transition: all 0.3s ease;
        cursor: pointer;
      }
      .optioncontainer{
        display: flex;
        background: #d9d9d9;
        height: 45px;
        width: 100%;
        margin-top: 70px;
        justify-content: space-around;
        align-items: center;
        padding: 10px;
        border: 2px solid rgb(192, 185, 185);
      }
      .optionhome{
        margin-top: 5px;
        font-size: 13px;
        font-weight: bold;
        text-shadow: 1px 3px rgb(196, 188, 188);
      }
      .optionhome:hover{
        text-shadow: 1px 1px grey;
        cursor: pointer;
        color: #4285f4;
      }
      .card{
        border: 2px solid rgb(197, 187, 187);
        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: space-between;
        align-items: center;
        height: 50%;
        margin-top: 20px;
        background: #d9d9d9;
        overflow-y: hidden;
      }
      .cardtitlecont{ /*CONTENEDOR PALABRA "PRODUCTOS" */
        width: 30%;
        display: flex;
        justify-content: center;
        margin-top: 5px;
      }
      .cardsforproduct{  /*CONTENEDOR PRODUCTOS DE LAS CARDS*/
        display: flex;
        border: 3px solid rgb(199, 196, 196);
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
        height: 350px;
        align-items: center;
        border-radius: 10px;
      }
      .cardcontainer{  /*CARDS*/
        border: 3px solid rgb(196, 196, 199);
        height: 90%;
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: space-between;
        justify-content: space-around;
        border-radius: 5px;
        background: white;
        padding: 10px;
      }
      .cardcontainer:hover{
        border: 2px solid #4285f4;
    } 
      .cardimage{ /*contenedor imagen*/   
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 150px; 
      }
      .stock{
        font-size: 10px;
        margin-top: 10px;
      }
      .cardstock{
        color: grey;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 20px;
      }
      .product{
        font-size: 8px;
        text-align: center;
      }
      .buttoncard{
        background: #4285f4;
        color: white;
        width: 100%;
        border-radius: 3px;
        border: #4285f4;
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        height: 30px;
        font-size: 13px;
      }
      .buttoncard:hover{
        background: rgb(55, 55, 168);
        cursor: pointer;
        transform: translateY(1px); /* Opcional: Levanta el botón ligeramente */
        transition: all 0.1s ease;
      }
      .containerbuttoncard{
        height: 50px;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
      }
      .titlecard{
        color: #4285f4;
        font-size: 20px;
        font-weight: bold;
      }
      .hub{
        width: 50%;
      }
      .discoe{
        width: 50%;
      }
      .notebook{
        width: 80%;
        height: 100%;
      }
      .impresora{
        width: 50%;
      }
    .carddescription{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 35%;
    }
    .footerhome{
        height: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .footercontainer{
        width: 90%;
        height: 50px;
        display: flex;
        justify-content: space-between;
    }
    .footerback{
        background-color: #4285f4;
        color: white;
        width: 70px;
        font-size: 12px;
        border-radius: 15px;
        border: 2px solid #4285f4;
        height: 90%;
    }
    .footerback:hover{
        background: #3e45a5;
        transform: translateY(1px); /* Opcional: Levanta el botón ligeramente */
        transition: all 0.1s ease;
    }
    .footerfinalizar{
        background-color: #239f65;
        color: white;
        width: 70px;
        font-size: 12px;
        border-radius: 15px;
        border: 2px solid #239f65;
        height: 90%;
    }
    .footerfinalizar:hover{
        background: green;
        transform: translateY(1px); /* Opcional: Levanta el botón ligeramente */
        transition: all 0.1s ease;
    }
    .footerimagecontainer{
        width: 90%;
        display: flex;
        justify-content: space-evenly;
    }
    .imagefooter{
        width: 70px;
        height: 60px;   
    }
    .imagefooter:hover{
        width: 80px;
        cursor: pointer;
    }
}

@media (min-width: 1024px){
body {
    background-color: #4285f4;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 99%;
    height: 100vh;
  }
  .background-container {
    background-color: #4285f4;
    display: flex;
    justify-content: center;
  }
  .loginbox {
    background-color: white;
    width: 750px;
    margin: 25px;
    border-radius: 30px;
    height: 450px;
    box-shadow: 3px 3px #d9d9d9;
    flex-direction: column;
  }
  .title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 500px;
    margin: 10px;
    margin-top: 50px;
    margin-bottom: 20px;
  }
  .title {
    color: #4285f4;
    font-size: 85px;
    text-shadow: 3px 5px #d9d9d9;
    font-weight: bold;
    width: 500px;
  } 
  .input-container {
    display: flex;
    flex-direction: column;
    width: 700px;
    margin: 10px;
    align-items: center;
    height: 300px;
    padding: 20px;
  }
  .input {
    width: 400px;
    height: 45px;
    margin: 10px;
    border-radius: 5px;
    background-color: #d9d9d9;
    border: 1px solid #d9d9d9;
    padding: 10px;
  }
  input:hover {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  .login-button {
    height: 45px;
    margin: 10px;
    border-radius: 5px;
    background-color: #239f65;
    border: 1px solid #d9d9d9;
    padding: 10px;
    color: white;
    width: 200px;
    padding: 5px;
    margin-bottom: 10px;
    box-shadow: 3px 3px #d9d9d9;
    cursor: pointer; /* Añade cursor pointer para indicar que es un botón */
    font-weight: bold
  }
  .login-button:hover {
    background-color: #1e8449; /* Cambia el color al hacer hover */
    box-shadow: 4px 4px #c0c0c0; /* Cambia el box shadow al hacer hover */
    transform: translateY(-2px); /* Opcional: Levanta el botón ligeramente */
    transition: all 0.3s ease; /* Opcional: Transición suave para el efecto */
  }
  .loginregistro{
    font-size: 12px;
  }

  /* -------------MENU 1024--------------------*/

  .background-container-menu {
    background-color: #4285f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    width: 100%;
    height: 99vh;
  }
  .title-menu {
    color: white;
    font-size: 85px;
    text-shadow: 3px 5px #645e5e9c;
    font-weight: bold;
    
  }
  .menubox{
    background-color: white;
    width: 90%;
    margin: 25px;
    border-radius: 30px;
    height: 500px;
    box-shadow: 3px 3px #d9d9d9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
  }
  .menu-container{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 10px;
    align-items: center;
    height: 300px;
    padding: 20px;
    
    margin-top: 150px;
    
  }
  .menu-button{
    height: 70px;
    margin: 10px;
    border-radius: 5px;
    background-color: #4285f4;
    border: 3px solid #4285f4;
    padding: 10px;
    color: white;
    width: 90%;
    padding: 5px;
    
    box-shadow: 3px 3px #d9d9d9;
    cursor: pointer; /* Añade cursor pointer para indicar que es un botón */
    font-weight: bold;
    
  }

  .menu-button:hover {
    background-color: #3e45a5; /* Cambia el color al hacer hover */
    box-shadow: 4px 4px #c0c0c0; /* Cambia el box shadow al hacer hover */
    transform: translateY(-2px); /* Opcional: Levanta el botón ligeramente */
    transition: all 0.3s ease; /* Opcional: Transición suave para el efecto */
  }
  .logout-container{
    height: 50px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 600px;
    
  }
  .logout-button{
    height: 45px;
    margin: 10px;
    border-radius: 5px;
    background-color: rgb(187, 7, 7);
    border: 1px solid #d9d9d9;
    padding: 10px;
    color: white;
    width: 120px;
    padding: 5px;
    margin-bottom: 40px;
    margin-left: 50px;
    
    box-shadow: 3px 3px #d9d9d9;
    cursor: pointer; /* Añade cursor pointer para indicar que es un botón */
    font-weight: bold;
    
  }
  
  .logout-button:hover {
    background-color: #700404; /* Cambia el color al hacer hover */
    box-shadow: 4px 4px #c0c0c0; /* Cambia el box shadow al hacer hover */
    transform: translateY(-2px); /* Opcional: Levanta el botón ligeramente */
    transition: all 0.3s ease; /* Opcional: Transición suave para el efecto */
  
  }

  /*----------- COTIZACIONES 1024-----------*/

  .background-container-cotiza{
   
    background-color: #4285f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    width: 100vh;
    height: 99vh;
   
}
  .cotizabox{
    background-color: white;
    width: 100%;
    margin: 25px;
    border-radius: 30px;
    height: 500px;
    box-shadow: 3px 3px #d9d9d9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cotizatitlebox{
    width: 100%;  
    display: flex;
    justify-content: center;
    border-bottom: 5px solid rgb(190, 186, 186);
  }
  .cotizatitle{
    font-weight: bold; 
    color: grey;
  }
  .box-volver-cotiza{
    display: flex;
    justify-content: space-between;
    align-content: center;   
    margin-bottom: 30px;
    width: 90%;
  }
  .cotiza-container-button{
    width: 55%; 
  }
  .cotiza-button{
    height: 70px;
    margin: 10px;
    border-radius: 5px;
    background-color: #4285f4;
    border: 3px solid #4285f4;
    padding: 10px;
    color: white;
    width: 90%;
    padding: 5px;
    box-shadow: 3px 3px #d9d9d9;
    cursor: pointer; /* Añade cursor pointer para indicar que es un botón */
    font-weight: bold;
  }
  .cotiza-button:hover {
    background-color: #3e45a5; /* Cambia el color al hacer hover */
    box-shadow: 4px 4px #c0c0c0; /* Cambia el box shadow al hacer hover */
    transform: translateY(-2px); /* Opcional: Levanta el botón ligeramente */
    transition: all 0.3s ease; /* Opcional: Transición suave para el efecto */
  }
  .volver-cotiza{
    color: #239f65;
    font-weight: bold;
    margin-left: 10px;
    text-decoration: none;
  }
  .volver-cotiza:hover{
    color: rgb(4, 88, 4);
    transform: translateY(-2px); /* Opcional: Levanta el botón ligeramente */
    transition: all 0.3s ease; 
  }

  /*----------ERROR 1024 --------*/
  
  .recuadroerror{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 1500px;
    height: 100vh;
  }
  .errorfoto{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain
  }
  .recuadrofoto{
    height: 90%;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .recuadrobutton{
    width: 50%;
    display: flex;
    justify-content: center;
  }
  .recuadrotexto{
    width: 500px;
  }
  .textoerror{
    color: white;
    font-size: 30px;
  }
  .volvererror{
    height: 45px;
    border-radius: 5px;
    background-color: rgb(75, 71, 71);
    padding: 10px;
    color: rgb(199, 198, 198);
    width: 120px;
    padding: 5px;
    cursor: pointer; /* Añade cursor pointer para indicar que es un botón */
    font-weight: bold;
  }
  .volvererror:hover{
    background-color: rgb(5, 5, 5);
    transform: translateY(-2px); /* Opcional: Levanta el botón ligeramente */
    transition: all 0.3s ease; 
  }

  /*--------------HOME 1024 ---------------------------*/

  .headerhome{
    width: 100%;
    height: 98vh;
    display: flex;
    flex-direction: column;
    background-color: white;  
    border-radius: 15px;
    margin-top: -5px;
    
  }
  .headercontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
    background-color: black;
    height: 70px;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  .titlehome{
    color: white;
    text-shadow: 2px 2px grey;
  }
  .inputhome{
    border-radius: 10px;
    width: 90%;
    height: 40px;
    display: block;
  }
  .inputhome:hover {
    border-color: #4285f4;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  .proveedorcontainer{
    width: 20%;
  }
  .proveedor{
    color: white;
    font-size: 25px;
    text-shadow: 2px 2px grey;
    width: 100%;
  }
  .proveedor:hover{
    color: #4285f4;
    transform: translateY(-2px); /* Opcional: Levanta el botón ligeramente */
    transition: all 0.3s ease;
    cursor: pointer;
  }
  .menuimage{
    background: rgb(255, 255, 255);
    width: 50px;
    height: 50px;
    border-radius: 30px;
    border: 1px solid #4285f4;
    display: none; 
  }
  .containermenuimage{
    display: none;
  }
  .carrito{
    color: white;
    text-shadow: 2px 2px grey;
  }
  .carrito:hover{
    
    color: #4285f4;
    transform: translateY(-2px); /* Opcional: Levanta el botón ligeramente */
    transition: all 0.3s ease;
    cursor: pointer;
  }
  .optioncontainer{
    display: flex;
    background: #d9d9d9;
    height: 45px;
    width: 100%;
    margin-top: 70px;
    justify-content: space-around;
    align-items: center;
    border: 2px solid rgb(192, 185, 185);
  }
  .optionhome{
    margin-top: 5px;
    font-size: 15px;
    font-weight: bold;
    text-shadow: 1px 3px rgb(196, 188, 188);
  }

  .optionhome:hover{
    text-shadow: 1px 1px grey;
    cursor: pointer;
    color: #4285f4;
  }
  .card{
    border: 2px solid rgb(197, 187, 187);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
    height: 400px;
    margin-top: 20px;
    background: #d9d9d9;
    
  }
  
  .cardtitlecont{
    width: 90%;
    display: flex;
    justify-content: center;
    margin-top: 5px;
  }
  .titlecard{
    color: #4285f4;
    font-size: 20px;
    font-weight: bold;
    
  }
  .cardcontainer{
    border: 3px solid rgb(196, 196, 199);
    height: 300px;
    width: 235px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    justify-content: space-around;
    border-radius: 5px;
    background: white;
    padding: 10px;
    
  }
  
  .cardcontainer:hover{
    border: 2px solid #4285f4;
} 
.cardsforproduct{
    display: flex;
    border: 3px solid rgb(199, 196, 196);
    width: 100%;
    justify-content: space-around;
    height: 350px;
    align-items: center;
    border-radius: 10px;
    
  }
  .cardimage{
    
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 150px;

  }
 
  .stock{
    font-size: 10px;
    margin-top: 10px;
  }
  
  .cardstock{
    color: grey;
   
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-content: flex-end;
    justify-content: flex-end;
    height: 60px;
  
  }
  .product{
    font-size: 12px;
    text-align: center;
  

  }

  .buttoncard{
    background: #4285f4;
    color: white;
    width: 100px;
    border-radius: 3px;
    border: #4285f4;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 30px;
  }
  .buttoncard:hover{
    background: rgb(55, 55, 168);
    cursor: pointer;
    transform: translateY(1px); /* Opcional: Levanta el botón ligeramente */
    transition: all 0.1s ease;
    
  }
  .containerbuttoncard{
    
    height: 70px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    
    
  }

  

  .hub{
    width: 80%;
  }
  .discoe{
    width: 80%;
  }
  .notebook{
    width: 80%;
    height: 100%;
  }
  .impresora{
    width: 80%;

  }
.carddescription{
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 560px;
}

.footerhome{
    
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}
.footercontainer{
    
    width: 1200px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin: 10px;
}

.footerback{
    background-color: #4285f4;
    color: white;
    width: 120px;
    font-size: 17px;
    border-radius: 15px;
    border: 2px solid #4285f4;
}
.footerback:hover{
    background: #3e45a5;
    transform: translateY(1px); /* Opcional: Levanta el botón ligeramente */
    transition: all 0.1s ease;
}

.footerfinalizar{
    background-color: #239f65;
    color: white;
    width: 120px;
    font-size: 17px;
    border-radius: 15px;
    border: 2px solid #239f65;
    
}
.footerfinalizar:hover{
    background: green;
    transform: translateY(1px); /* Opcional: Levanta el botón ligeramente */
    transition: all 0.1s ease;
}

.footerimagecontainer{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
}
.imagefooter{
    width: 80px;
    height: 70px;
}
.imagefooter:hover{
    width: 82px;
    cursor: pointer;
}
}